@model Quiz
@{

    ViewData["Title"] = "Edit Quiz";

    ViewData["SubTitle"] = "Manage Quiz";
    ViewData["ManageQuiz"] = "active";

    Layout = "_Layout";
}
<!-- Add Modal -->
<div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="form-add-question">
                    <input type="hidden" id="quizId" value="@Model.QuizId" />
                    <div class="mb-3">
                        <label for="questionContent" class="form-control-label">
                            Content <span class="text-danger">*</span>
                        </label>
                        <textarea id="questionContent" class="form-control" type="text" name="Content" row="2" required></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="questionScore" class="form-control-label">
                            Score <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="number" id="questionScore" name="Score" min="1" value="1">
                    </div>
                    <div class="mb-3">
                        <label class="form-control-label">
                            Answer <span class="text-danger">*</span>
                        </label>
                        <div id="add-answers" class="mb-4">
                            <div class="form-check">
                                <div style="display: flex; justify-content: space-between" class="mb-2">
                                    <input class="form-check-input add-check-mark" type="checkbox" checked="" name="answersMark" value="true">
                                    <input class="form-control form-control-sm add-answer-text" type="text" name="answers" required
                                           style="width: 90%">
                                    <i style="margin: auto 0;" onclick="deleteAnswer(this)"
                                       class="text-danger fa-solid fa-circle-minus"></i>
                                </div>
                            </div>
                        </div>
                        <input onclick="addNewAnswerForAdd()" type="button" value="Add answer" class="btn btn-primary">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="submitFormAddQuestion()">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <input type="hidden" id="editQuestionId">
                    <div class="mb-3">
                        <label for="editQuestionContent" class="form-control-label">
                            Content <span class="text-danger">*</span>
                        </label>
                        <textarea id="editQuestionContent" class="form-control" type="text" name="editQuestionContent" row="2"
                                  required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editQuestionScore" class="form-control-label">
                            Score <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="number" id="editQuestionScore" name="editQuestionScore" min="1">
                    </div>
                    <div class="mb-3">
                        <label class="form-control-label">
                            Answer <span class="text-danger">*</span>
                        </label>
                        <div id="edit-answers" class="mb-4">
                        </div>
                        <input onclick="addNewAnswerForEdit()" type="button" value="Add answer" class="btn btn-primary">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="submitFormEditQuestion()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <a class="form-control-label text-primary" href="../../quiz/index"><i class="ni ni-bold-left"></i> Back</a>
                    @{
                        string? message = ViewData["MessageImport"] as string;
                    }
                    @if (message == "success")
                    {
                        <p class="text-success text-sm">IMPORT QUESTION SUCCESSFULLY!!!</p>
                    }
                    else if (message == "fail")
                    {
                        <p class="text-danger text-sm">IMPORT QUESTION FAILED!!!</p>
                    }
                    <h2>@Model.Title</h2>
                    <button class="btn btn-icon btn-3 btn-primary" type="button" data-bs-toggle="modal"
                            data-bs-target="#addQuestion">
                        <span class="btn-inner--icon"><i class="ni ni-fat-add "></i></span>
                        <span class="btn-inner--text">Create question</span>
                    </button>
                </div>

                <div class="ml-3 font-weight-bolder" style="margin-left: 30px;">
                    <a class="nav-link text-xs mb-3" href="download">Download template <i class="fa-solid fa-download"></i></a>
                    <form asp-controller="Question" asp-action="ImportQuestion" method="post" enctype="multipart/form-data">
                        <input type="number" name="quizId" value="@Model.QuizId" hidden />
                        <p class="nav-link text-xs" href="#">Import question <i class="fa-solid fa-file-import"></i> :  <input type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /></p>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>

                </div>

                <form class="p-4">
                    @{
                        int i = 1;
                    }
                    @foreach (Question question in Model.Questions)
                    {

                        List<Answer> list = question.Answers.ToList();
                        string answersId = "";
                        string marks = "";
                        string answers = "";
                        for (int ind = 0; ind < list.Count; ind++)
                        {
                            if (ind <= list.Count - 2)
                            {
                                answersId += list[ind].AnswerId + "|||";
                                answers += list[ind].Content + "|||";
                                if (list[ind].IsCorrect == true) marks += "true|||";
                                else marks += "false|||";
                            }
                            else
                            {
                                answersId += list[ind].AnswerId + "|||";
                                answers += list[ind].Content;
                                if (list[ind].IsCorrect == true) marks += "true";
                                else marks += "false";
                            }

                        }

                        <div class="form-group">
                            <div class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-3 text-sm">@i. @question.Content</h6>
                                    @foreach (Answer ans in question.Answers)
                                    {
                                        <div class="form-check">
                                            <span class="mb-2 text-xs">
                                                <input class="form-check-input" type="checkbox" value="" @(ans.IsCorrect == true ? "checked" : "") disabled>
                                                <label class="text-dark font-weight-bold ms-sm-2">@ans.Content</label>
                                            </span>
                                        </div>
                                    }
                                </div>
                                <div class="ms-auto text-end">
                                    <span class="btn btn-link text-dark px-3 mb-0 icon-edit" href="javascript:;"
                                       data-question-id="@question.QuestionId"
                                       data-question-content="@question.Content"
                                       data-question-score="@question.Score"
                                       data-question-answersId="@answersId"
                                       data-question-marks="@marks"
                                       data-question-answers="@answers">
                                        <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit
                                    </span>
                                    <span class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"
                                       onclick="deleteQuestionById(@question.QuestionId, this)">
                                        <i class="far fa-trash-alt me-2"></i>Delete
                                    </span>
                                </div>
                            </div>
                            @{
                                i++;
                            }
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/assets/js/question.js"></script>
}

