@model QuizSystemWeb.Models.Quiz
@{
    ViewData["Title"] = "Manage Quiz";

    ViewData["SubTitle"] = "Manage Quiz";
    ViewData["ManageQuiz"] = "active";

    Layout = "_Layout";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <a class="form-control-label text-primary" href="../quiz/quizzes"><i class="ni ni-bold-left"></i> Back</a>
                    <h2>@Model.Title</h2>
                </div>

                <form class="p-4" method="post" asp-action="SubmitQuiz">
                    @{
                        int i = 1;
                        int count = 0;
                    }
                    @foreach (Question question in Model.Questions)
                    {
                        List<Answer> list = question.Answers.ToList();

                        <div class="form-group">
                            <h6 class="form-control-label">
                                @i. @question.Content
                            </h6>
                            @{
                                i++;
                            }
                            <div style="padding-left: 15px">
                                @foreach (Answer ans in question.Answers)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="@question.QuestionId" value="@ans.AnswerId" id="@ans.AnswerId">
                                        <label for="@ans.AnswerId" class="custom-control-label">@ans.Content</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>