@model IEnumerable<QuizSystemWeb.Models.Quiz>
@{
    ViewData["Title"] = "Manage Quiz";
    ViewData["FormSearch"] = "true";
    ViewData["FormSearchAction"] = "Quizzes";
    ViewData["SubTitle"] = "Manage Quiz";
    ViewData["QuizList"] = "active";
    ViewData["Controller"] = "Quiz";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">

            <div class="card-header pb-0">
                <h6>Quiz List</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">

                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id="myTable">
                        <thead>
                            <tr>
                                <th style="width:50px"
                                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Start</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">End</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pass score</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Creator</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody">
                        @foreach (var quiz in Model)
                        {
                            bool isDone = false;
                            @foreach (var item in ViewBag.takeQuizzes)
                            {
                                if (item.QuizId == quiz.QuizId && ViewBag.user.UserId == item.UserId)
                                {
                                    isDone = true;
                                }
                            }
                            if (!isDone)
                            {
                                    <tr>
                                        <td class="align-middle text-sm">
                                            <p class="text-xs font-weight-bold mb-0 ps-3">@quiz.QuizId</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@quiz.Title</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@quiz.Description</p>
                                        </td>
                                        <td class="align-middle">
                                            <span class="text-secondary text-xs font-weight-bold">@quiz.StartAt</span>
                                        </td>
                                        <td class="align-middle">
                                            <span class="text-secondary text-xs font-weight-bold">@quiz.EndAt</span>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@quiz.PassScore</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@quiz.Creator.FullName</p>
                                        </td>
                                        <td class="align-middle">
                                        @if (quiz.QuizCode == null)
                                        {
                                                <a href="../question/doQuiz?quizId=@quiz.QuizId" class="text-info font-weight-bold text-xs" data-toggle="tooltip">
                                                    Take quiz
                                                </a>
                                        }
                                        else
                                        {
                                                <a href="#" onclick="openPasswordConfirmation('@quiz.QuizCode', '../question/doQuiz?quizId=@quiz.QuizId')" class="text-info font-weight-bold text-xs" data-toggle="tooltip">
                                                    Take quiz
                                                </a>
                                        }
                                        </td>
                                    </tr>
                            }
                        }
                            </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" id="pagination-container" style="margin-top: 1rem;"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup xác nhận mật khẩu -->
<div class="modal" id="passwordConfirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header của popup -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm Quiz Password</h4>
            </div>

            <!-- Nội dung của popup -->
            <div class="modal-body">
                <p>Please enter quiz Password to continue:</p>
                <input type="password" id="passwordInput" class="form-control">
            </div>

            <!-- Footer của popup -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="checkPassword()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    let code = "";
    let link = "";
    function openPasswordConfirmation(code1, link1) {
        code = code1;
        link = link1;
        // Hiển thị popup
        $('#passwordConfirmationModal').modal('show');
        document.getElementById('passwordInput').value = '';
    }

    function checkPassword() {
        // Lấy giá trị của ô input
        var password = document.getElementById('passwordInput').value;

        // Kiểm tra xác nhận mật khẩu ở đây
        // Trong ví dụ này, chúng ta chỉ in ra màn hình để kiểm tra
        if (password == code) {
            window.location.href = link;
        }

        // Đóng popup
        $('#passwordConfirmationModal').modal('hide');
    }

    function paginateTable(pageNum) {
        var itemsPerPage = 10; // Số mục hiển thị trên mỗi trang
        var startIndex = (pageNum - 1) * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;
        var tableRows = document.querySelectorAll("#myTable tbody tr");
        var buttons = document.getElementsByClassName("page-link");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove("active");
        }
        document.getElementById(`page-${pageNum}`).classList.add("active");
        for (var i = 0; i < tableRows.length; i++) {
            if (i >= startIndex && i < endIndex) {
                tableRows[i].style.display = "table-row";
            } else {
                tableRows[i].style.display = "none";
            }
        }
    }

    // Khởi tạo phân trang
    function initializePagination() {
        var totalRows = document.querySelectorAll("#myTable tbody tr").length;
        var itemsPerPage = 10; // Số mục hiển thị trên mỗi trang
        var totalPages = Math.ceil(totalRows / itemsPerPage);

        var paginationContainer = document.getElementById("pagination-container");
        paginationContainer.innerHTML = ""; // Xóa các thẻ con

        for (var i = 1; i <= totalPages; i++) {
            var pageLink = document.createElement("li");
            pageLink.innerHTML = `<a class="page-link" id="page-${i}" href="#" onclick="paginateTable(${i})" style=" height: 35px; width: 35px; border-radius: 50%; ${i != 1 ? 'margin-left: 8px;' : ''}">${i}</a>`;
            paginationContainer.appendChild(pageLink);
        }

        paginateTable(1); // Hiển thị trang đầu tiên khi tải lần đầu
    }

    // Gọi hàm khởi tạo phân trang khi trang đã tải xong
    document.addEventListener("DOMContentLoaded", function () {
        initializePagination();
    });
</script>