@{
    ViewData["Title"] = "Manage Quiz";
    ViewData["FormSearch"] = "true";
    ViewData["Controller"] = "Quiz";
    ViewData["FormSearchAction"] = "Results";
    ViewData["SubTitle"] = "Manage Quiz";
    ViewData["ManageQuiz"] = "active";
    Layout = "_Layout";
}

<style>
    .cursor-pointer:hover {
        cursor: pointer
    }

    .active-page {
        background-color: #cb0c9f;
        color: white !important;
    }
</style>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header pb-0">
                    <a class="form-control-label text-primary" href="../../quiz/details/@ViewBag.QuizId"><i class="ni ni-bold-left"></i> Back</a>

                    <h6>Results</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">

                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th style="width:50px" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">User</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Score</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Start</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">End</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TakeQuiz takeQuiz in Model)
                                {
                                <tr>
                                    <td class="align-middle text-sm">
                                        <p class="text-xs font-weight-bold mb-0 ps-3">@takeQuiz.TakeQuizId</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@takeQuiz.User.Username</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@takeQuiz.Quiz.Title</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@takeQuiz.Score</p>
                                    </td>
                                    <td>
                                        @if (takeQuiz.Score >= takeQuiz.Quiz.PassScore)
                                        {
                                            <span class="badge badge-sm bg-gradient-success">Pass</span> 
                                        } else
                                        {
                                            <span class="badge badge-sm bg-gradient-danger">Fail</span>
                                        }
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-secondary text-xs font-weight-bold">@takeQuiz.StartAt</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-secondary text-xs font-weight-bold">@takeQuiz.EndAt</span>
                                    </td>
                                    <td>
                                        <a href="../../quiz/review/@takeQuiz.TakeQuizId" class="text-primary text-xs font-weight-bold mb-0">View</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    int total = Convert.ToInt32(ViewData["Total"]);
    int pageSize = Convert.ToInt32(ViewData["PageSize"]);
    int pageNumber;
    if (total % pageSize == 0)
    {
        pageNumber = total / pageSize;
    }
    else
    {
        pageNumber = ((int)total / pageSize) + 1;
    }
}
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
        @for (int i = 1; i <= pageNumber; i++)
        {
            <li class="page-item">
                <a class="page-link @(ViewData["CurrentPage"].ToString().Equals(i.ToString()) ? "active-page" : "")"
                   href="?page=@i@(ViewData["ValueSearch"] != null && !ViewData["ValueSearch"].ToString().Equals("") ? "&search=" + ViewData["ValueSearch"] : "")">@i</a>
            </li>
        }
    </ul>
</nav>